__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.env
.memory/
clips/
chart_*.png
*.png